@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
  margin:0;
  padding:0;
  border:0;
  list-style:none;
  text-decoration:none;
}
body{
  font-family:lato;
  background-color:grey;
}
ul a{
  color:#fff;
}
.sidebar{
  position:fixed;
  left:-250px;
  width:250px;
  height:100%;
  background:#000;
  opacity: 80%;
  transition: all .5s ease;
}
h2{
  font-family:oswald;
  text-transform:uppercase;
  letter-spacing:3px;
  color:#fff
}
#logo{
  float:left;
  font-size:200%;
  margin-left:10px;
  font-weight:10;
  padding-top:70px;
  text-align:center;
  user-select:none;
  padding-bottom:70px;
}

.sidebar ul a{
  display:block;
  height:100%;
  width:100%;
  line-height:80px;
  padding-left:20px;
  font-size:20px;
  box-sizing: border-box;
  transition: .4s;
}
ul li:hover a{
  padding-left:30px;
}
#check{
display:none;
}
label #navbutton , label #cancel{
  position:fixed;
  cursor:pointer;
  border-radius:3px;

}
label #navbutton{
  left:40px;
  top:25px;
  font-size:35px;
  color:#fff;
  padding:6px 12px;
  transition: all .5s ease;
}
label #cancel{
  z-index:1111;
  left:-195px;
  top:17px;
  font-size:30px;
  color:#fff;
  padding:4px 9px;
  transition: all .5s ease;

}

#check:checked ~ .sidebar{
  left:0;
}
#check:checked ~ label #navbutton{
  left:250px;
  opacity:0;
  pointer-events:none;
}
#check:checked ~ label #cancel{
  left:195px;

}
#check:checked ~ #main{
  margin-left:250px;
  transition: all .5s ease;
}
.social{
  margin-left:20px;
  margin-top:350px;
  text-align:left;
  position:fixed;
}
.social li{
  display:inline;
}
.social i{
  font-size:35px;
  margin:1%;
  padding:5%;
  color:#187EF8;
}
#main{
  background: url(assets/img/mimic-gif.gif) no-repeat;
  background-position:center;
  background-size:cover;
  width:100vh;
  transition: all .5s ease;
  overflow:hidden;
}
#main .main-text{
  max-width:30%;
  position:absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
  background-color:rgba(0,0,0,.8);
  color:#fff;
  padding:4rem 5rem;
}
.main-text h5{
  font-size:30px;
  font-family:'raleway',sans-serif;
  text-transform:uppercase;
  letter-spacing:3px;
  margin-bottom:2.5rem;
  color:#fff;
}
.main-text p{
  font-size:15px;
  font-family:oswald;
  letter-spacing:1px;
  font-weight:300;
  color:#fff;
}
