@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
  margin:0;
  padding:0;
  border:0;
  list-style:none;
  text-decoration:none;
}
body{
  font-family:lato;
  background-color:#202020;
}
ul a{
  color:#fff;
}
.sidebar{
  position:fixed;
  left:-250px;
  width:250px;
  height:100vh;
  background-color:rgba(0,0,0,.9);
  transition: all .5s ease;
}
h2{
  font-family:oswald;
  text-transform:uppercase;
  letter-spacing:3px;
  color:#fff;
}
#logo{
  float:center;
  font-size:160%;
  padding-top:70px;
  text-align:center;
  user-select:none;
  color:#fff;
  text-transform:uppercase;
  padding-bottom:2.5rem;
  font-family:oswald;
  letter-spacing:5px;
  font-weight:10;
}
#logo span{
  border:5px solid #14A8D9;
  padding:6px 14px;
}
.sidebar ul a{
  display:block;
  height:100%;
  width:100%;
  line-height:70px;
  padding-left:20px;
  font-size:20px;
  box-sizing: border-box;
  transition: .4s;
  margin-top:40px;
}
.sidebar li:hover a{
  padding-left:30px;
}
#social-networks{
  text-align:right;
  padding:35px;
}
#social-networks li{
display:inline;
}

#social-networks i{
 font-size:30px;
 padding:20px;
 color:#14A8D9;
}
#check{
display:none;
}
label #navbutton , label #cancel{
  position:fixed;
  cursor:pointer;
  border-radius:3px;

}
label #navbutton{
  left:40px;
  top:25px;
  font-size:35px;
  color:#14A8D9;
  padding:6px 12px;
  transition: all .5s ease;
}
label #cancel{
  z-index:1111;
  left:-195px;
  top:17px;
  font-size:30px;
  color:#fff;
  padding:4px 9px;
  transition: all .5s ease;

}

#check:checked ~ .sidebar{
  left:0;

}
#check:checked ~ label #navbutton{
  left:250px;
  opacity:0;
  pointer-events:none;
}
#check:checked ~ label #cancel{
  left:195px;
}


#hero-image{
  width:100%;
  height:950px;
  background: url(img/dagger-gif.gif) no-repeat center center;
  transition: all .5s ease;
  background-size:cover;
  overflow:hidden;
}
#hero-text{
  width:300px;
  height:200px;
  position:absolute;
  padding-top:40px;
  padding-left:10px;
  bottom:30px;
  right:150px;
  color:#fff;
  position: absolute;

}
#hero-text h1{
  font-size:130%;
  padding-bottom:1.5rem;
  font-family:oswald;
  text-transform:uppercase;
  letter-spacing:5px;
  font-weight:10;
  color:#fff;
}
#hero-text span{
  border:5px solid #14A8D9;
  padding:6px 14px;
}
#hero-text p{
  font-size:110%;
  text-align:left;
  font-family:lato;
  letter-spacing:1px;
  font-weight:1000;
  text-transform:uppercase;
  color:#fff;
  line-height:25px;
}
#hero-text p:hover{
  color:red;
  cursor:pointer;
}

#resume-container{
max-width:1000px;
background-color:#202020;
padding:0 3rem;
margin:0 auto;
margin-top:4rem;
text-align:center;
}
#resume-container h2{
text-align:center;
font-size:60px;
color:#fff;
letter-spacing:4px;
padding-bottom:30px;
}
#resume-container h4{
  text-transform:uppercase;
  color:#666666;
  font-weight:10;
  font-size:22px;
  text-align:center;
}
#resume-container h3{
color:#fff;
font-size:25px;
text-align:center;
text-transform: uppercase;
padding-bottom:20px;
}
#resume-container p{
  font-size:20px;
  padding: 20px;
  color:#fff;
}
.resume-image{
  width:300px;
  height:300px;
  padding:30px;
  border-style:solid;
  border-color:#14A8D9;
  border-width:1px;
  border-radius:50%;
  margin:0 auto
}
.resume-image img{
  height:100%;
  border-radius:50%;
}

.skills-bar{
  text-align:left;
  border-radius:10px;
  padding:95px 100px;
  margin:0 auto;
  align-items:center;
  background:none;
  overflow:hidden;
}
.skills-bar h2{
text-align:center;
font-size:60px;
color:#fff;
letter-spacing:4px;
padding-bottom:30px;
}
.skills-bar .bar{
  margin:20px 0;
}
.skills-bar .bar:first-child{
  margin-top:0px;
}
.skills-bar .bar .info{
  margin-bottom:5px;
}
.skills-bar .bar .info span{
  font-size:20px;
  font-weight:500;
  opacity:0;
  color:#fff;
  animation:showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity:1;
  }
}

.skills-bar .bar .progress-line{
  position:relative;
  height:10px;
  width;100%;
  background:#f0f0f0;
  border-radius:10px;
  transform:scaleX(0);
  transform-origin:left;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                    0px 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span{
  height:100%;
  width:80%;
  background:#14A8D9;
  position:absolute;
  border-radius:10px;
  transform:scaleX(0);
  transform-origin:left;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform:scaleX(1);
  }
}
.progress-line.photoshop span{
  width:60%;
}
.progress-line.unreal span{
  width:80%;
}
.progress-line.painter span{
  width:85%;
}
.progress-line.toolbag span{
  width:90%;
}
.progress-line.zbrush span{
  width:75%;
}
.bar .progress-line span::before{
  position:absolute;
  content:"";
  right:0;
  top:-10px;
  height:0;
  width:0;
  border:7px solid transparent;
  border-bottom-width:0px;
  border-right-width:0px;
  border-top-color:#000;
  opacity:0;
  animation:showText2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after{
  position:absolute;
  right:0;
  top:-28px;
  color:#fff;
  font-size:12px;
  font-weight:500;
  background:#000;
  padding:1px 8px;
  border-radius:3px;
  opacity:0;
  animation:showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity:1;
  }
}
.progress-line.photoshop span::after{
  content:"60%"
}
.progress-line.unreal span::after{
  content:"80%"
}
.progress-line.painter span::after{
  content:"85%"
}
.progress-line.toolbag span::after{
  content:"90%"
}
.progress-line.zbrush span::after{
  content:"75%"
}
.btn{
  display:inline-block;
  padding:1rem 2.5rem;
  background:#14A8D9;
  font-size:20px;
  font-weight:500;
  text-decoration:none;
  color:#000;
  text-transform:uppercase;
  border-radius:30px;
  transition: background 0.5s;
}
.btn:hover{
background:#57D5FF;
}
#portfolio-container{
  margin:70px;
}
.row{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.row2{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.row3{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
.image{
  background:#fff;
  position:relative;
  flex:1;
  max-width:460px;
  height:240px;
  margin:30px;
  overflow:hidden;
  cursor:pointer;

}
.image img{
  opacity:1;
  position:relative;
  vertical-align:top;
  transition:0.6s;
  display:inline;
  transition-property: opacity;
  max-width:460px;
  overflow:hidden;

}
.image:hover img{
  opacity:0.7;
}
.image .details{
  z-index:1;
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  width:100%;
  height:100%;
}
.image .details p {
  color:#fff;
  text-align:center;
  font-size:35px;
  text-transform:uppercase;
  font-weight:300;
  margin-top:70px;
  transition:0.4s;
  transition-property:transform;
}
.image:hover .details p{
  transform:translateY(-30px);
}
#portfolio-container h2{
text-align:center;
font-size:60px;
color:#fff;
letter-spacing:4px;
padding-top:100px;
padding-bottom:100px;
}

#contact{
  position:relative;
  min-height;100vh;
  padding:50px 100px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

#contact .content{
  max-width:800px;
  text-align:center;
}
#contact .content h2{
  text-align:center;
  font-size:60px;
  color:#fff;
  letter-spacing:4px;
  padding-bottom:10px;
}
#contact .content p{
  font-weight:300;
  color:#fff;
}
.container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:30px;
}
.container .contactInfo{
  width:50%;
  display:flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position:relative;
  padding:20px 0;
  display:flex;
}
.container .contactInfo .box .icon{
  min-width:60px;
  height:60px;
  color:#fff;
  background:#14A8D9;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  font-size:22px;
}
.container .contactInfo .box .text{
  display:flex;
  margin-left:20px;
  font-size:16px;
  color:#fff;
  flex-direction:column;
  font-weight:300;
}
.container .contactInfo .box .text h3{
  color:#fff;
}
.contactForm{
  width:40%;
  padding:40px;
  background:#fff;
}
.contactForm h2{
  font-size:30px;
  color:#333;
  font-weight:500;
}
.contactForm .inputBox{
  position:relative;
  width:100%;
  margin-top:10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width:100%;
  padding:5px 0;
  font-size:16px;
  margin:10px 0;
  border:none;
  border-bottom:2px solid #333;
  outline:none;
  resize:none;
}
.contactForm .inputBox span{
  position:absolute;
  left:0;
  padding:5px 0;
  font-size:16px;
  margin:10px 0;
  pointer-events: none;
  transition:0.5s;
  color:#666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:focus ~ span{
  color:#14A8D9;
  font-size:12px;
  transform:translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
  width:100px;
  background:#00bcd4;
  color:#fff;
  border:none;
  cursor:pointer;
  padding:10px;
  font-size:18px;
}
@media (max-width: 1080px ){
  .image{
    flex:100%;
    max-width:460px;
    height: 240px;
  }
}
@media (max-width: 991px ){
  .contact{
    padding:50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom:40px;
  }
  .container .contactInfo,
  .contactForm{
    width:100%;
  }
}
@media (max-width: 400px ){
  #hero-text{
    left:0;
  }
  .image .details p{
    font-size:20px;
  }
  .image {
    flex:100%;
    max-width:460px;
    height:240px;
  }
  #social-networks i{
    font-size:20px;
    text-align:center;
  }

}
